<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Without Color Blindness</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <!-- BootStrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/Result.css" />
    <!-- BootStrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="public/JavaScript/script.js"></script>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <p class="navbar-brand navbar-expand-lg logo">Cones👁️</p>
        <!-- <button type="button" class="sign-in-bar">Sign In</button> -->
      </nav>
    </div>

    <div class="container">
      <h1 class="mt-4 text-right her title">
        Here Is The Result Of Your Ishihara Test
      </h1>
      <div class="d-flex justify-content-center mt-3">
        <table class="table table-bordered small-table">
          <thead>
            <tr>
              <th>Image</th>
              <th class="text-center">Actual Number</th>
              <th class="text-center">User Identified Number</th>
            </tr>
          </thead>
          <tbody>
            <% userData.actualValue.forEach((actual, index) => { %>
            <tr>
              <td>Image <%= index + 1 %></td>
              <td class="text-center"><%= actual %></td>
              <td class="text-center"><%= userData.numericValue[index] %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3>
          <b>Your Test Score Is: <%= count %> </b>
          <br />
          <p>
            Thank you for completing the Color Blindness Test using the Ishihara
            test on our website. Based on your test results, we're pleased to
            inform you that your score is greater than 17 so you do not exhibit
            signs of color blindness.
          </p>
        </h3>
      </div>
    </div>

    <% if (count >= 17) { %>
    <!-- Code for count >= 6 -->
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Understanding Your Results</b></h3>
        <p>
          Your ability to distinguish colors is within the normal range,
          allowing you to perceive a wide spectrum of colors accurately. This is
          great news, as it means you can experience the world in its full
          vibrancy.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b> Embrace the Colors</b></h3>
        <p>
          With your intact color vision, you can fully appreciate the beauty and
          nuances of color in various aspects of life, from nature's landscapes
          to art and design. Your color vision enables you to distinguish
          color-coded information, recognize traffic lights, and enjoy visual
          arts as they were intended.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Maintain Healthy Vision</b></h3>
        <p>
          Remember that regular eye check-ups are essential for maintaining
          healthy vision throughout your life. If you ever notice any changes in
          your color perception or overall vision, it's advisable to consult
          with an eye care professional.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Conclusion</b></h3>
        <p>
          Congratulations on your clear color vision! We hope you continue to
          enjoy the world of colors and all the wonderful experiences it brings.
        </p>
      </div>
    </div>
    <% } else if (count >=14 && count <= 16) { %>
    <!-- Code for count > 1 && count < 3 -->
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Good Color Vision</b></h3>
        <p>
          Your good color vision is a valuable asset. Regular eye check-ups will
          help ensure it stays that way. Keep experiencing the world in all its
          colorful glory.
        </p>
      </div>
    </div>
    <% } else if (count <= 13) { %>
    <!-- Code for count < 3 -->
    <% const last4NumericValues = userData.numericValue.slice(-4); %>

    <!-- Store the four values in separate variables -->
    <% const value1 = last4NumericValues[0]; %> <% const value2 =
    last4NumericValues[1]; %> <% const value3 = last4NumericValues[2]; %> <%
    const value4 = last4NumericValues[3]; %>

    <!-- Check conditions for each value -->
    <% if (value1 === "06" && (value2 === "02" || value2==="0 2") && value3 ===
    "05" && value4 ==="06") { %>
    <!-- Content to display when all values meet the condition -->
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Understanding Protonopia</b></h3>
        <p>
          Protonopia, also known as <b>red-green color blindness</b>, is a
          common type of color vision deficiency. Individuals with Protonopia
          have difficulty distinguishing between certain shades of red and
          green. This can affect how you perceive colors in everyday life,
          particularly in the red and green spectrum.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Impact on Vision</b></h3>
        <p>
          Having Protonopia might pose challenges in various situations where
          color differentiation is important. Tasks like identifying traffic
          lights, reading maps with color-coded information, and appreciating
          certain artworks may be impacted.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Adapting and Coping</b></h3>
        <p>
          It's important to note that while color blindness cannot be completely
          corrected, there are ways to navigate the challenges it presents. Many
          individuals with Protonopia learn to adapt by using context cues,
          labels, and other visual indicators to help identify colors.
          Additionally, there are technological tools and apps available that
          assist in color recognition.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b> Further Steps</b></h3>
        <p>
          If you have concerns about how Protonopia might affect your specific
          needs, consider consulting with an eye care professional. They can
          provide personalized guidance and advice tailored to your situation.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b> Conclusion</b></h3>
        <p>
          Understanding your color vision is the first step towards managing and
          adapting to any challenges that may arise. Remember that color
          blindness is just one aspect of your visual perception and doesn't
          define your abilities or limit your potential.
        </p>
      </div>
    </div>
    <% } else if ((value1 === "02" || value1 === "0 2") && value2 === "04" &&
    value3 === "03" && value4 === "09") { %>
    <!-- Content to display when not all values meet the condition -->
    <div class="container">
      <div class="mt-4 text-right first">
        <h3>
          Thank you for completing the Color Blindness Test using the Ishihara
          test on our website. Based on your test results, it has been
          determined that your score is less than 13, indicating that you have
          color blindness, and the type of your color blindness is
          <b>Deuteranopia</b>.
        </h3>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Understanding Deuteranopia</b></h3>
        <p>
          Deuteranopia is a type of color vision deficiency, often referred to
          as
          <b>green color blindness</b>. Individuals with Deuteranopia have
          difficulty distinguishing between certain shades of green and red.
          This can impact their ability to perceive colors accurately,
          particularly within the green and red spectrum.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Impact on Vision</b></h3>
        <p>
          Deuteranopia can pose challenges in various aspects of life where
          color differentiation is crucial. Tasks like recognizing traffic
          lights, interpreting color-coded information on maps, and appreciating
          certain artworks may be affected by this condition.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Adapting and Coping</b></h3>
        <p>
          While Deuteranopia cannot be fully corrected, there are strategies and
          tools to help individuals cope with its challenges. Many people with
          Deuteranopia learn to rely on context cues, labels, and other visual
          indicators to assist in identifying colors. Additionally, there are
          technological aids and apps available to aid in color recognition.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Further Steps</b></h3>
        <p>
          If you have concerns about how Deuteranopia might impact your specific
          needs, consider consulting with an eye care professional. They can
          offer personalized guidance and advice tailored to your situation.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Conclusion</b></h3>
        <p>
          Understanding your color vision deficiency is the first step towards
          managing and adapting to any challenges that may arise. Remember that
          color blindness is just one aspect of your visual perception and
          doesn't define your abilities or limit your potential.
        </p>
      </div>
    </div>

    <% } else { %>
    <!-- Content to display when none of the conditions are met -->
    <div class="container">
      <div class="mt-4 text-right first">
        <h3><b>Content when none of the conditions are met</b></h3>
        <p>This is the content when none of the conditions are met.</p>
      </div>
    </div>
    <% } %> <% } %>

    <div class="last-content">
      <div class="last">
        <p class="terms">© 2023 Cones👁️ Ltd. All Rights Reserved</p>
      </div>
    </div>
    <div id="countElement" data-count="<%= count %>"></div>
    <div id="lastvalue1" data-count="<%= userData.numericValue[21]%>"></div>
    <div id="lastvalue2" data-count="<%= userData.numericValue[22]%>"></div>
    <div id="lastvalue3" data-count="<%= userData.numericValue[23]%>"></div>
    <div id="lastvalue4" data-count="<%= userData.numericValue[24]%>"></div>

    <!-- Place this script tag after your JavaScript file -->
    <script>
      var countElement = document.getElementById("countElement");
      var count = countElement.dataset.count;

      var lastValueElement1 = document.getElementById("lastvalue1");
      var lastValue1 = lastValueElement1.getAttribute("data-count");

      var lastValueElement2 = document.getElementById("lastvalue2");
      var lastValue2 = lastValueElement2.getAttribute("data-count");

      var lastValueElement3 = document.getElementById("lastvalue3");
      var lastValue3 = lastValueElement3.getAttribute("data-count");

      var lastValueElement4 = document.getElementById("lastvalue4");
      var lastValue4 = lastValueElement4.getAttribute("data-count");

      // Function to speak the result based on the count value
      function speakResult() {
        var synth = window.speechSynthesis;
        var utterance = new SpeechSynthesisUtterance();

        // Set the voice and message based on the count value
        if (count >= 17) {
          utterance.text =
            "Thank you for using Cones. Congratulations! Your score is greater than 17. Your color vision is excellent!";
        } else if (count >= 14 && count <= 16) {
          utterance.text =
            "Thank you for using Cones. Your score is between 14 and 16. This situation is complicated. Please consultant with a eye specialist.";
        } else if (count <= 13) {
          if (
            lastValue1 == "06" &&
            (lastValue2 == "02" || lastValue2 == "0 2") &&
            lastValue3 == "05" &&
            lastValue4 == "06"
          ) {
            utterance.text =
              "Thank you for using Cones. Your score is less than 13. So you have protanopia color blindness.";
          } else if (
            (lastValue1 == "02" || lastValue1 == "0 2") &&
            lastValue2 == "04" &&
            lastValue3 == "03" &&
            lastValue4 == "09"
          ) {
            utterance.text =
              "Thank you for using Cones. Your score is less than 13. So you have Deuteranopia color blindness.";
          } else {
            utterance.text =
              "Thank you for using Cones. Your score is less than 13, indicating color blindness. However, the specific type of color blindness cannot be determined by this test. We recommend consulting with an eye specialist for further evaluation.";
          }
        }

        // Set the voice and language (you can customize these based on available voices)
        utterance.voice = synth.getVoices()[0]; // You may need to change the index to match your preferred voice
        utterance.lang = "en-US";

        // Speak the message
        synth.speak(utterance);
      }

      // Call the speakResult function to speak the result based on the count value
      speakResult();
    </script>
  </body>
</html>
